Repository alojzy231/pharmacy-CRUD, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, dependencies, documentation

refactor: simplify GetProductsResultDTO
  packages/dto/src/get/getProducts.types.ts
Labels: none

feat: added /get-products endpoint
  apps/backend/src/actions/get/getProducts.ts
  apps/backend/src/actions/get/index.ts
  apps/backend/src/index.ts
Labels: backend

feat: added get products query
  apps/frontend/src/api/services/ProductService/index.ts
  apps/frontend/src/features/Dashboard/api/mutations/useAddProduct/index.ts
  apps/frontend/src/features/Dashboard/api/queries/useGetProducts/index.ts
  apps/frontend/src/features/Dashboard/view/MainView.tsx
Labels: frontend

feat: added products table
  apps/frontend/package.json
  apps/frontend/src/api/services/ProductService/index.ts
  apps/frontend/src/features/Dashboard/api/queries/useGetProducts/index.ts
  apps/frontend/src/features/Dashboard/view/MainView.tsx
  apps/frontend/src/features/Dashboard/view/ProductsTable/index.tsx
  packages/dto/src/get/getProducts.types.ts
  pnpm-lock.yaml
Labels: frontend

feat: invalidate get products query on successful mutation
  apps/frontend/src/features/Dashboard/api/mutations/useAddProduct/index.ts
Labels: frontend

refactor: removed console.log
  apps/frontend/src/features/Dashboard/view/MainView.tsx
Labels: frontend

feat: added controlled checkbox and implemented it in form
  apps/frontend/src/components/ControlledInputs/ControlledCheckbox/index.tsx
  apps/frontend/src/components/ControlledInputs/index.ts
  apps/frontend/src/features/Dashboard/view/MainView.tsx
  apps/frontend/src/pages/_app.tsx
Labels: frontend

refactor: update Product record if data exists
  apps/backend/src/actions/post/addProduct.ts
Labels: backend

fix: category and type enum
  apps/backend/prisma/migrations/20230522210718_category_and_type_enum/migration.sql
  apps/backend/prisma/schema.prisma
  packages/dto/prisma/schemas/enums/ProductCategory.schema.ts
  packages/dto/prisma/schemas/enums/ProductType.schema.ts
  packages/dto/prisma/schemas/index.ts
  packages/dto/prisma/schemas/objects/EnumProductCategoryFieldUpdateOperationsInput.schema.ts
  packages/dto/prisma/schemas/objects/EnumProductCategoryFilter.schema.ts
  packages/dto/prisma/schemas/objects/EnumProductCategoryWithAggregatesFilter.schema.ts
  packages/dto/prisma/schemas/objects/EnumProductTypeFieldUpdateOperationsInput.schema.ts
  packages/dto/prisma/schemas/objects/EnumProductTypeFilter.schema.ts
  packages/dto/prisma/schemas/objects/EnumProductTypeWithAggregatesFilter.schema.ts
  packages/dto/prisma/schemas/objects/NestedEnumProductCategoryFilter.schema.ts
  packages/dto/prisma/schemas/objects/NestedEnumProductCategoryWithAggregatesFilter.schema.ts
  packages/dto/prisma/schemas/objects/NestedEnumProductTypeFilter.schema.ts
  packages/dto/prisma/schemas/objects/NestedEnumProductTypeWithAggregatesFilter.schema.ts
  packages/dto/prisma/schemas/objects/ProductCreateInput.schema.ts
  packages/dto/prisma/schemas/objects/ProductCreateManyInput.schema.ts
  packages/dto/prisma/schemas/objects/ProductCreateWithoutSubstitutedByInput.schema.ts
  packages/dto/prisma/schemas/objects/ProductCreateWithoutSubstitutesInput.schema.ts
  packages/dto/prisma/schemas/objects/ProductScalarWhereInput.schema.ts
  packages/dto/prisma/schemas/objects/ProductScalarWhereWithAggregatesInput.schema.ts
  packages/dto/prisma/schemas/objects/ProductUncheckedCreateInput.schema.ts
  packages/dto/prisma/schemas/objects/ProductUncheckedCreateWithoutSubstitutedByInput.schema.ts
  packages/dto/prisma/schemas/objects/ProductUncheckedCreateWithoutSubstitutesInput.schema.ts
  packages/dto/prisma/schemas/objects/ProductUncheckedUpdateInput.schema.ts
  packages/dto/prisma/schemas/objects/ProductUncheckedUpdateManyInput.schema.ts
  packages/dto/prisma/schemas/objects/ProductUncheckedUpdateManyWithoutSubstitutedByInput.schema.ts
  packages/dto/prisma/schemas/objects/ProductUncheckedUpdateManyWithoutSubstitutesInput.schema.ts
  packages/dto/prisma/schemas/objects/ProductUncheckedUpdateWithoutSubstitutedByInput.schema.ts
  packages/dto/prisma/schemas/objects/ProductUncheckedUpdateWithoutSubstitutesInput.schema.ts
  packages/dto/prisma/schemas/objects/ProductUpdateInput.schema.ts
  packages/dto/prisma/schemas/objects/ProductUpdateManyMutationInput.schema.ts
  packages/dto/prisma/schemas/objects/ProductUpdateWithoutSubstitutedByInput.schema.ts
  packages/dto/prisma/schemas/objects/ProductUpdateWithoutSubstitutesInput.schema.ts
  packages/dto/prisma/schemas/objects/ProductWhereInput.schema.ts
  packages/dto/src/get/getProducts.types.ts
Labels: backend

refactor: added select input to the form
  apps/frontend/src/components/ControlledInputs/ControlledSelect/index.tsx
  apps/frontend/src/components/ControlledInputs/index.ts
  apps/frontend/src/features/Dashboard/api/queries/useGetProducts/index.ts
  apps/frontend/src/features/Dashboard/view/MainView.tsx
  apps/frontend/src/features/Dashboard/view/const.ts
  apps/frontend/src/features/Dashboard/view/schema.ts
  apps/frontend/src/utils/convertEnumToString.ts
  apps/frontend/tsconfig.json
Labels: frontend

refactor: updated packages
  apps/backend/package.json
  apps/frontend/package.json
  package.json
  packages/dto/package.json
  packages/eslint-config-frontend/package.json
  pnpm-lock.yaml
Labels: frontend, backend, dependencies

chore: move prisma-client to separate package
  apps/backend/src/actions/post/addProduct.ts
  packages/prisma-client/package.json
  packages/prisma-client/prisma/migrations/20230517204407_init/migration.sql
  packages/prisma-client/prisma/migrations/20230518194426_add_products/migration.sql
  packages/prisma-client/prisma/migrations/20230519184340_products_quantity_type/migration.sql
  packages/prisma-client/prisma/migrations/20230519184406_singular_product_model_name/migration.sql
  packages/prisma-client/prisma/migrations/20230522210718_category_and_type_enum/migration.sql
  packages/prisma-client/prisma/migrations/20230602173649_/migration.sql
  packages/prisma-client/prisma/migrations/migration_lock.toml
  packages/prisma-client/prisma/schema.prisma
  packages/prisma-client/src/client.ts
  packages/prisma-client/src/index.ts
  packages/prisma-client/tsconfig.json
  packages/prisma-client/tsup.config.ts
  pnpm-lock.yaml
Labels: backend

refactor: use separated prisma client
  apps/backend/package.json
  apps/backend/src/actions/get/getProducts.ts
  apps/backend/src/client.ts
Labels: backend

chore: added dto package
  apps/backend/src/actions/post/addProduct.ts
  apps/frontend/src/api/services/ProductService/index.ts
  packages/dto/package.json
  packages/dto/src/index.ts
  packages/dto/src/post/addProduct.types.ts
  packages/dto/src/post/index.ts
  packages/dto/tsconfig.json
  packages/dto/tsup.config.ts
  pnpm-lock.yaml
Labels: frontend, backend

refactor: implement DTO to backend
  apps/backend/package.json
  apps/backend/src/actions/get/getProducts.ts
  apps/backend/src/actions/post/addProduct.ts
  apps/backend/src/index.ts
  pnpm-lock.yaml
Labels: backend

refactor: implement dto to frontend
  apps/backend/package.json
  apps/frontend/package.json
  apps/frontend/src/api/services/ProductService/index.ts
  apps/frontend/src/features/Dashboard/api/queries/useGetProducts/index.ts
  apps/frontend/src/features/Dashboard/view/MainView.tsx
  apps/frontend/src/features/Dashboard/view/ProductsTable/index.tsx
  apps/frontend/src/features/Dashboard/view/schema.ts
  pnpm-lock.yaml
Labels: frontend, backend

refactor: separate eslint config
  apps/frontend/.eslintrc.cjs
  apps/frontend/package.json
  packages/eslint-config/base.js
  packages/eslint-config/frontend.js
  packages/eslint-config/package.json
  pnpm-lock.yaml
Labels: frontend

refactor: add eslint to prisma-client package
  packages/eslint-config/base.js
  packages/prisma-client/.eslintrc.cjs
  packages/prisma-client/package.json
  packages/prisma-client/src/client.ts
Labels: backend

refactor: added eslint to dto package
  packages/dto/.eslintrc.cjs
  packages/dto/package.json
  pnpm-lock.yaml
Labels: none

refactor: added eslint to backend app
  apps/backend/.eslintrc.cjs
  apps/backend/package.json
  apps/backend/src/actions/get/getProducts.ts
  apps/backend/src/actions/post/addProduct.ts
  apps/backend/src/index.ts
  packages/eslint-config/backend.js
  packages/eslint-config/frontend.js
  packages/eslint-config/package.json
  pnpm-lock.yaml
Labels: backend

fix: unused declaration of prisma client globally
  packages/prisma-client/src/client.ts
Labels: backend

fix: removed zod generator from prisma
  packages/prisma-client/prisma/schema.prisma
Labels: backend

refactor: separated prisma client
  apps/backend/src/actions/get/getProducts.ts
  apps/backend/src/actions/post/addProduct.ts
  apps/backend/src/prismaClient/index.ts
  apps/backend/tsconfig.json
  packages/dto/src/index.ts
  packages/eslint-config/backend.js
  packages/prisma-client/src/client.ts
  pnpm-lock.yaml
Labels: backend

refactor: use consts from dto package
  apps/frontend/src/features/Dashboard/view/const.ts
Labels: frontend

feat: format to dollar currency
  apps/backend/src/index.ts
  apps/frontend/src/const/route.ts
  apps/frontend/src/features/Dashboard/api/queries/useGetProducts/index.ts
  apps/frontend/src/features/Dashboard/view/MainView.tsx
  apps/frontend/src/features/Dashboard/view/schema.ts
  apps/frontend/src/layout/AppShell/Header/index.tsx
  apps/frontend/src/layout/AppShell/index.tsx
  apps/frontend/src/pages/_app.tsx
  apps/frontend/tsconfig.json
  packages/dto/package.json
  packages/eslint-config/frontend.js
  packages/prisma-client/package.json
  packages/prisma-client/prisma/migrations/20230602173649_/migration.sql
Labels: frontend, backend

fix: selector type
  apps/frontend/src/features/Dashboard/api/queries/useGetProducts/index.ts
Labels: frontend

refactor: move main view to seperated folder
  apps/frontend/src/features/Dashboard/view/MainView/ProductsTable/index.tsx
  apps/frontend/src/features/Dashboard/view/MainView/const.ts
  apps/frontend/src/features/Dashboard/view/MainView/index.tsx
  apps/frontend/src/features/Dashboard/view/MainView/schema.ts
Labels: frontend

refactor: added hospital prisma model
  packages/prisma-client/prisma/migrations/20230605194932_add_hospital_model/migration.sql
  packages/prisma-client/prisma/schema.prisma
Labels: backend

refactor: added hospital DTOs
  packages/dto/src/get/getHospitals.types.ts
  packages/dto/src/get/index.ts
  packages/dto/src/post/addHospital.types.ts
  packages/dto/src/post/index.ts
Labels: none

feat: added hospital endpoints and form
  apps/backend/src/actions/get/getHospitals.ts
  apps/backend/src/actions/get/index.ts
  apps/backend/src/actions/post/addHospital.ts
  apps/backend/src/actions/post/index.ts
  apps/backend/src/index.ts
  apps/frontend/src/features/Dashboard/view/HospitalView/ProductsTable/index.tsx
  apps/frontend/src/features/Dashboard/view/HospitalView/const.ts
  apps/frontend/src/features/Dashboard/view/HospitalView/index.tsx
  apps/frontend/src/features/Dashboard/view/HospitalView/schema.ts
  apps/frontend/src/features/Dashboard/view/MainView/index.tsx
  apps/frontend/src/layout/AppShell/index.tsx
  apps/frontend/src/pages/hospital.tsx
Labels: frontend, backend

feat: implement hospital endpoint
  apps/frontend/src/api/services/ProductService/index.ts
  apps/frontend/src/features/Dashboard/api/mutations/useAddHospital/index.ts
  apps/frontend/src/features/Dashboard/api/queries/useGetHospitals/index.ts
  apps/frontend/src/features/Dashboard/view/HospitalView/HospitalsTable/index.tsx
  apps/frontend/src/features/Dashboard/view/HospitalView/index.tsx
Labels: frontend

refactor: prepare one app to handle frontend and backend
  apps/website/.eslintrc.cjs
  apps/website/.gitignore
  apps/website/.lintstagedrc.json
  apps/website/.prettierrc.cjs
  apps/website/README.md
  apps/website/next-env.d.ts
  apps/website/next.config.mjs
  apps/website/package.json
  apps/website/src/api/clients/HttpClient/index.ts
  apps/website/src/api/clients/PharmacyCRUDClient/index.ts
  apps/website/src/api/services/ProductService/index.ts
  apps/website/src/components/ControlledInputs/ControlledCheckbox/index.tsx
  apps/website/src/components/ControlledInputs/ControlledNumberInput/index.tsx
  apps/website/src/components/ControlledInputs/ControlledSelect/index.tsx
  apps/website/src/components/ControlledInputs/ControlledTextInput/index.tsx
  apps/website/src/components/ControlledInputs/index.ts
  apps/website/src/const/route.ts
  apps/website/src/features/Dashboard/api/mutations/useAddHospital/index.ts
  apps/website/src/features/Dashboard/api/mutations/useAddProduct/index.ts
  apps/website/src/features/Dashboard/api/queries/useGetHospitals/index.ts
  apps/website/src/features/Dashboard/api/queries/useGetProducts/index.ts
  apps/website/src/features/Dashboard/view/HospitalView/HospitalsTable/index.tsx
  apps/website/src/features/Dashboard/view/HospitalView/const.ts
  apps/website/src/features/Dashboard/view/HospitalView/index.tsx
  apps/website/src/features/Dashboard/view/HospitalView/schema.ts
  apps/website/src/features/Dashboard/view/MainView/ProductsTable/index.tsx
  apps/website/src/features/Dashboard/view/MainView/const.ts
  apps/website/src/features/Dashboard/view/MainView/index.tsx
  apps/website/src/features/Dashboard/view/MainView/schema.ts
  apps/website/src/layout/AppShell/Header/index.tsx
  apps/website/src/layout/AppShell/index.tsx
  apps/website/src/pages/_app.tsx
  apps/website/src/pages/_document.tsx
  apps/website/src/pages/hospital.tsx
  apps/website/src/pages/index.tsx
  apps/website/src/utils/convertEnumToString.ts
  apps/website/tsconfig.eslint.json
  apps/website/tsconfig.json
  pnpm-lock.yaml
Labels: documentation

refactor: move prisma to website app
  apps/website/package.json
  apps/website/prisma/migrations/20230517204407_init/migration.sql
  apps/website/prisma/migrations/20230518194426_add_products/migration.sql
  apps/website/prisma/migrations/20230519184340_products_quantity_type/migration.sql
  apps/website/prisma/migrations/20230519184406_singular_product_model_name/migration.sql
  apps/website/prisma/migrations/20230522210718_category_and_type_enum/migration.sql
  apps/website/prisma/migrations/20230605194932_add_hospital_model/migration.sql
  apps/website/prisma/migrations/migration_lock.toml
  apps/website/prisma/schema.prisma
  apps/website/src/api/services/ProductService/index.ts
  apps/website/src/dto/get/getHospitals.types.ts
  apps/website/src/dto/get/getProducts.types.ts
  apps/website/src/dto/get/index.ts
  apps/website/src/dto/index.ts
  apps/website/src/dto/post/addHospital.types.ts
  apps/website/src/dto/post/addProduct.types.ts
  apps/website/src/dto/post/index.ts
  apps/website/src/features/Dashboard/api/mutations/useAddHospital/index.ts
  apps/website/src/features/Dashboard/api/mutations/useAddProduct/index.ts
  apps/website/src/features/Dashboard/api/queries/useGetHospitals/index.ts
  apps/website/src/features/Dashboard/api/queries/useGetProducts/index.ts
  apps/website/src/features/Dashboard/view/HospitalView/HospitalsTable/index.tsx
  apps/website/src/features/Dashboard/view/HospitalView/const.ts
  apps/website/src/features/Dashboard/view/HospitalView/index.tsx
  apps/website/src/features/Dashboard/view/MainView/const.ts
  apps/website/src/features/Dashboard/view/MainView/index.tsx
  apps/website/src/features/Dashboard/view/MainView/schema.ts
  apps/website/tsconfig.json
  package.json
  packages/dto/package.json
  packages/eslint-config/frontend.js
Labels: dependencies

refactor: prisma client
  apps/website/src/config/prismaClient.ts
  apps/website/src/dto/get/getHospitals.types.ts
  apps/website/src/dto/get/getProducts.types.ts
  apps/website/src/dto/index.ts
  apps/website/src/dto/post/addHospital.types.ts
  apps/website/src/dto/post/addProduct.types.ts
  apps/website/tsconfig.json
Labels: none

feat: added get-products api endpoint
  apps/website/src/pages/api/get-products.ts
Labels: none

refactor: added get-hospitals endpoint
  apps/website/src/dto/get/getHospitals.types.ts
  apps/website/src/pages/api/get-hospitals.ts
Labels: none

refactor: moved post endpoints
  apps/website/src/pages/api/add-hospital.ts
  apps/website/src/pages/api/add-product.ts
  apps/website/src/pages/api/get-hospitals.ts
Labels: none

refactor: remove obsolete code
  apps/website/.eslintrc.cjs
  apps/website/package.json
  apps/website/tsconfig.json
  packages/eslint-config/backend.js
  packages/eslint-config/frontend.js
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/tsconfig-frontend/package.json
  packages/tsconfig-frontend/tsconfig.json
Labels: none

feat: added address to hospital
  apps/website/prisma/migrations/20230608122500_add_address_to_hospital/migration.sql
  apps/website/prisma/schema.prisma
  apps/website/src/features/Dashboard/api/queries/useGetHospitals/index.ts
  apps/website/src/features/Dashboard/api/queries/useGetProducts/index.ts
  apps/website/src/features/Dashboard/view/HospitalView/HospitalsTable/index.tsx
  apps/website/src/features/Dashboard/view/HospitalView/index.tsx
  apps/website/src/features/Dashboard/view/HospitalView/schema.ts
  apps/website/src/features/Dashboard/view/MainView/index.tsx
  pnpm-lock.yaml
Labels: none

refactor: prepared doctor page
  apps/website/src/features/Dashboard/view/DoctorView/DoctorsTable/index.tsx
  apps/website/src/features/Dashboard/view/DoctorView/const.ts
  apps/website/src/features/Dashboard/view/DoctorView/index.tsx
  apps/website/src/features/Dashboard/view/DoctorView/schema.ts
  apps/website/src/pages/doctor.tsx
Labels: none

.github/labeler.yml:

frontend:
  - apps/frontend/**/*
  - apps/admin-panel/**/*
  - packages/api-hooks/**/*
  - packages/eslint-config-frontend/**/*
  - packages/ui/**/*

backend:
  - apps/backend/**/*
  - apps/admin-backend/**/*
  - packages/prisma-client/**/*

dependencies:
  - package.json

documentation:
  - docs/**/*
  - apps/**/*.md
  - README.md
