Repository alojzy231/pharmacy-CRUD, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, dependencies, documentation

refactor: removed obsolete eslintrc in root directory
  .eslintrc.js
Labels: none

chore: add mysql docker container
  apps/backend/docker-compose.yml
Labels: backend

chore: added makefile
  Makefile
Labels: none

chore: added lint staged
  apps/backend/.lintstagedrc.json
  apps/frontend/.lintstagedrc.json
Labels: frontend, backend

chore: added backend setup with express
  apps/backend/package.json
  apps/backend/src/index.ts
  apps/backend/tsconfig.eslint.json
  apps/backend/tsconfig.json
  apps/frontend/package.json
  package.json
  pnpm-lock.yaml
  turbo.json
Labels: frontend, backend, dependencies

fix: missing prepare script to setup husky
  package.json
Labels: dependencies

fix: add missing docker container to makefile
  Makefile
  apps/backend/docker-compose.yml
Labels: backend

docs: add info about MySQL setup
  README.md
Labels: documentation

chore: prisma setup
  .npmrc
  apps/backend/.gitignore
  apps/backend/.lintstagedrc.json
  apps/backend/docker-compose.yml
  apps/backend/package.json
  apps/backend/prisma/migrations/20230517204407_init/migration.sql
  apps/backend/prisma/migrations/migration_lock.toml
  apps/backend/prisma/schema.prisma
  apps/backend/src/index.ts
  pnpm-lock.yaml
Labels: backend

chore: added db:migrate:dev
  apps/backend/package.json
  package.json
  turbo.json
Labels: backend, dependencies

refactor: added Products table
  apps/backend/prisma/migrations/20230518194426_add_products/migration.sql
  apps/backend/prisma/schema.prisma
Labels: backend

feat: addProduct endpoint
  apps/backend/src/actions/post/addProduct.ts
  apps/backend/src/actions/post/index.ts
  apps/backend/src/index.ts
  apps/backend/tsconfig.json
Labels: backend

refactor: added dto package
  packages/dto/package.json
  packages/dto/src/index.ts
  packages/dto/src/post/addProduct.ts
  packages/dto/src/post/index.ts
  packages/dto/tsconfig.json
Labels: none

fix: changed package.json name (crud in lowercase)
  apps/backend/tsconfig.json
  apps/frontend/.eslintrc.cjs
  apps/frontend/.eslintrc.js
  apps/frontend/package.json
  apps/frontend/tsconfig.json
  package.json
  packages/eslint-config-frontend/package.json
  packages/tsconfig-frontend/package.json
  pnpm-lock.yaml
Labels: frontend, backend, dependencies

refactor: move add product type to dto package
  apps/backend/package.json
  packages/dto/package.json
  packages/dto/src/post/addProduct.ts
  packages/dto/src/post/addProduct.types.ts
  packages/dto/src/post/index.ts
  packages/dto/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Labels: backend

refactor: use dto in backend
  apps/backend/package.json
  apps/backend/src/actions/post/addProduct.ts
  packages/dto/package.json
  packages/dto/tsup.config.ts
  pnpm-lock.yaml
Labels: backend

refactor: export schemas from dto
  apps/backend/src/index.ts
  apps/backend/tsconfig.json
  packages/dto/index.ts
  packages/dto/package.json
Labels: backend

fix: backend build
  apps/backend/package.json
  packages/dto/package.json
  pnpm-lock.yaml
Labels: backend

refactor: added dotenv and get PORT from process.env
  apps/backend/package.json
  apps/backend/src/index.ts
  pnpm-lock.yaml
Labels: backend

refactor: remove obsolete eslint paths
  packages/eslint-config-frontend/index.js
Labels: frontend

fix: switch npx with pnpm dlx
  package.json
  pnpm-lock.yaml
Labels: dependencies

fix: es module next config
  apps/frontend/next.config.js
  apps/frontend/next.config.mjs
Labels: frontend

fix: eslint problem(unicorn/expiring-todo-comments)
  apps/frontend/app/layout.tsx
  apps/frontend/app/page.tsx
  apps/frontend/tsconfig.json
  packages/eslint-config-frontend/index.js
  packages/eslint-config-frontend/package.json
Labels: frontend

fix: changed .prettierrc file extension (common js)
  apps/frontend/.prettierrc.cjs
Labels: frontend

refactor: use more primitive schema in dto
  packages/dto/src/post/addProduct.types.ts
Labels: none

style: add whitespaces in schema.prisma
  apps/backend/prisma/schema.prisma
Labels: backend

feat: added simple form
  apps/frontend/app/layout.tsx
  apps/frontend/app/page.tsx
  apps/frontend/package.json
  apps/frontend/src/features/Dashboard/view/MainView.tsx
  apps/frontend/src/features/Dashboard/view/schema.ts
  apps/frontend/src/pages/index.tsx
  apps/frontend/tsconfig.json
  packages/eslint-config-frontend/index.js
  pnpm-lock.yaml
Labels: frontend

feat: added Mantine and rewritten form using it
  apps/frontend/package.json
  apps/frontend/src/components/ControlledInputs/ControlledNumberInput/index.tsx
  apps/frontend/src/components/ControlledInputs/ControlledTextInput/index.tsx
  apps/frontend/src/components/ControlledInputs/index.ts
  apps/frontend/src/features/Dashboard/view/MainView.tsx
  apps/frontend/src/features/Dashboard/view/schema.ts
  apps/frontend/src/pages/_app.tsx
  apps/frontend/src/pages/_document.tsx
  apps/frontend/tsconfig.json
  packages/eslint-config-frontend/index.js
  pnpm-lock.yaml
Labels: frontend

refactor: added HTTPClient
  apps/frontend/package.json
  apps/frontend/src/api/clients/HttpClient/index.ts
  pnpm-lock.yaml
Labels: frontend

refactor: added PharmacyCRUDClientApiClient
  apps/frontend/src/api/clients/PharmacyCRUDClient/index.ts
Labels: frontend

refactor: added productService
  apps/frontend/src/api/services/ProductService/index.ts
Labels: frontend

refactor: added react-query
  apps/frontend/package.json
  apps/frontend/src/api/services/ProductService/index.ts
  apps/frontend/src/pages/_app.tsx
  apps/frontend/tsconfig.json
  packages/eslint-config-frontend/index.js
  pnpm-lock.yaml
Labels: frontend

refactor: added addProduct mutation
  apps/frontend/src/features/Dashboard/api/mutations/useAddProduct/index.ts
Labels: frontend

refactor: change endpoints (added /v1)
  apps/backend/src/index.ts
Labels: backend

refactor: use middleware in backend (cors + json)
  apps/backend/package.json
  apps/backend/src/index.ts
  pnpm-lock.yaml
Labels: backend

fix: obsolete products prisma model name
  apps/backend/src/actions/post/addProduct.ts
Labels: backend

feat: implemented add product mutation
  apps/frontend/src/features/Dashboard/view/MainView.tsx
Labels: frontend

feat: reset form after form submission
  apps/frontend/src/features/Dashboard/view/MainView.tsx
Labels: frontend

refactor: create getProductsDTO
  packages/dto/src/get/getProducts.types.ts
  packages/dto/src/get/index.ts
  packages/dto/src/index.ts
Labels: none

refactor: move prisma client instance to share between actions
  apps/backend/src/actions/post/addProduct.ts
  apps/backend/src/client.ts
Labels: backend

.github/labeler.yml:

frontend:
  - apps/frontend/**/*
  - apps/admin-panel/**/*
  - packages/api-hooks/**/*
  - packages/eslint-config-frontend/**/*
  - packages/ui/**/*

backend:
  - apps/backend/**/*
  - apps/admin-backend/**/*
  - packages/prisma-client/**/*

dependencies:
  - package.json

documentation:
  - docs/**/*
  - apps/**/*.md
  - README.md
